@charset "utf-8";

html, body{
	background: #fff url('../images/bg.png') repeat top center;
}
img, svg, video{
	max-width:100%;
	height:auto;
}
.contents pre code,
pre code{
	border:none;
	padding:0;
	margin:0;
}
a{
	color: #000;
	text-decoration: underline;
	&:hover,
	&.current{
		color: #00f;
		background-color: #eee;
	}
}

/**
 * ヘッダー
 */
.theme_header{
	border-bottom: 1px solid #ccc;
	padding:1em 0 1px 0;
}

/**
 * メインエリア
 */
.theme_mainblock{
	padding:18px 0;
}

/**
 * Site Identity
 */
.theme_si{
	float:left;
}
.theme_si,
.theme_si *{
	font-size: xx-large;
	margin: 0;
	padding: 0;
	color: #000;
	line-height: 1.3;
}
body.theme_layout_nav_l,
body.theme_layout_nav_r{
	.theme_si{
		float:none;
	}
}

/**
 * グローバルメニュー
 */
.theme_globalnavi{
	clear:both;
}
.theme_globalnavi ul{
	margin:0; padding:0;
}
.theme_globalnavi ul li{
	margin:0.2em 1px 0 1px; padding:0; list-style-type:none;
	display:inline-block;
}
.theme_globalnavi ul li a{
	padding:0.5em 2em;
	display:block;
	border: 1px solid #ccc;
}
@media all and (max-width: 580px) {
	.theme_globalnavi{
		display:none;
	}
}

/**
 * ショルダーメニュー
 */
.theme_shouldernavi{
	float:right;
}
.theme_shouldernavi ul{
	margin:0; padding:0;
}
.theme_shouldernavi ul li{
	margin:0 1em; padding:0; list-style-type:none;
	display:inline-block;
}
.theme_shouldernavi ul li a{
	display:block;
}
@media all and (max-width: 580px) {
	.theme_shouldernavi{
		display:none;
	}
}



/**
 * コンテンツエリア
 */
.contents{
	margin-bottom: 3em;
}

/**
 * ナビゲーション
 */
.theme_common_navi{
	margin-bottom:0.7em;
}
.theme_common_navi a{
	display: block;
	padding:10px;
	border: 1px solid #ccc;
}
.theme_common_navi p{
	text-align:center;
	margin:1px 0; padding:0;
}
.theme_common_navi ul{
	display:block;
	margin:0; padding:0;
}
.theme_common_navi ul li{
	display:block;
	margin:1px 0; padding:0;
	list-style-type:none;
}
.theme_common_navi ul ul a{
	padding-left: 25px;
	font-size:small;
}
.theme_common_navi ul ul ul a{
	padding-left: 40px;
	font-size:small;
}
body.theme_layout_nav_l,
body.theme_layout_nav_r{
	@media all and (max-width: 767px) {
		.theme_common_navi{
			display:none;
		}
	}
}

/**
 * パンくず
 */
.theme_breadcrumb{
	margin:0 0;
}
.theme_breadcrumb ul,
.theme_breadcrumb ul li{
	display:inline;
	padding: 0 0.3em 0 0;
	font-size:small;
}
.theme_breadcrumb ul li a:after{
	content:'>';
	margin: 0 0.3em;
}
.theme_breadcrumb ul li span{
	font-weight:bold;
}




/**
 * フッター
 */
.theme_footer{
	padding:1em 0 0.5em 0;
	border-top: 1px solid #ccc;
}

/**
 * メガフッターメニュー
 */
.theme_megafooter_navi{
	margin:0 auto 1em auto;
	zoom:1;
}
.theme_megafooter_navi:after{
  content: " ";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}
.theme_megafooter_navi ul{
	margin:0; padding:0;
}
.theme_megafooter_navi ul li{
	margin:0 1px; padding:0; list-style-type:none;
	float:left;
	display:block;
}
.theme_megafooter_navi ul li ul li{
	display:block;
	float:none;
	font-size:80%;
}
.theme_megafooter_navi ul li a{
	padding:0.5em 2em;
	display:block;
	font-weight:bold;
}
.theme_megafooter_navi ul li ul li a{
	padding-left:4em;
	font-weight:normal;
}

/**
 * ショルダーメニュー(フッター)
 */
.theme_footer_shouldernavi{}
.theme_footer_shouldernavi ul{
	margin:0.5em; padding:0;
	text-align:center;
}
.theme_footer_shouldernavi ul li{
	margin:0 1em; padding:0; list-style-type:none;
	display:inline;
}

/**
 * トップページ: ウェルカムボード
 */
.theme_welcome{
}


/**
 * .anchor_links
 */
.anchor_links{
	margin:2em 7%;
}
